body {
    background-color: white;
}

#poly_window {
    margin: auto;
    padding: 0%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 25%;
    height: 70%;
}

.box {
    background: black;
    color: white;

    margin: auto;
    padding: 0%;
    display: block;
    position: absolute;
    left: 0;
    top: 80%;
    width: 100%;
    height: 20%;
}